.button {
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: linear-gradient(to left, rgb(117, 1, 1), rgba(255, 30, 30, 0.856));
  min-width: 8rem;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  transition: 0.1s;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;;
  box-shadow: #da0000b2 5 5 20;
}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(255, 170, 170), 0 0 0 4px rgb(194, 6, 6);
  background: linear-gradient(to right, rgba(175, 4, 4, 0.507), rgba(172, 49, 49, 0.856));
}


.button:disabled {
  opacity: 0.5;
  cursor: wait;
}
